{% extends 'base.html' %}

{% block title %}{{ service.name }}{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ service.name }}</li>
            </ol>
        </nav>
        <h2 class="font-weight-light dark-grey-text text-uppercase text-center">
            <strong>{{ service.name }}</strong>
        </h2>
        <br>
        <div class="row">
            <div class="col-lg-3 col-xl-3 col-md-5 col-sm-9 pb-3">
                <div class="view overlay shadow-none">
                    <img src="{{ service.image.url }}"
                         alt="Promo image" class="img-fluid"
                    >
                </div>
            </div>
            <div class="col-lg-7 col-xl-7 col-md-6 col-sm-6">
                {{ service.description|linebreaks }}
                <h5 class="font-weight-normal">{{ service.price }}</h5>
                <br>
                <a href="{% url 'booking_page' %}" class="btn btn-outline-black btn-md waves-effect mx-auto">Записаться
                    на сайте</a><br>
                <a href="tel:+79397005454"
                   class="btn btn-outline-black btn-md waves-effect mx-auto">Позвонить</a>
            </div>
        </div>
    </div>
{% endblock %}
